/* navStyles.css */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b542e;
  padding: 12px 20%;
}

.navbar a {
  text-decoration: none;
}

.navbar button {
  margin: 5px 2px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffe491;
  background-color: #a21c20;
  border: solid 1px #ffe491;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #0e2f1e;
}

/* Add media query for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Set it back to row for small screens */
    flex-wrap: wrap; /* Allow wrapping of buttons */
    padding: 2px;
  }

  .navbar button {
    margin: 5px 2px; /* Adjust the margin for closer spacing */
    width: auto; /* Let buttons determine their own width */
    border: solid 0.5px #ffe491;
    font-size: 11px;
    padding: 3px 6px;
  }
}
