/* navStyles.css */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b542e;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
}

.navbar button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffe491;
  background-color: #a21c20;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #0e2f1e;
}

/* Add media query for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row; /* Set it back to row for small screens */
    flex-wrap: wrap; /* Allow wrapping of buttons */
  }

  .navbar button {
    margin: 0 3px; /* Add space between buttons */
    width: auto; /* Let buttons determine their own width */
    font-size: 11px;
    padding: 4px 8px;
  }
}
