#mform {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#formDiv{
  max-width: 300px;
  margin: auto;
}

#mform label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

#mform select, 
#mform input, 
#mform textarea {
  width: 100%;  /* Adjust this value to change the width of the inputs */
  margin-top:5px;
  padding: 10px ;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#mform textarea {
  height: 100px; /* Adjust this value if you want a different initial height for the textarea */
  padding: 10px;
  width: 94%;
}

#antall_enheter{
  width: 94%;
}


#mform button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#mform button:hover {
  background-color: #0056b3;
}
